
.setupDiv {
    padding-inline: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    /* margin-bottom: 5px; */
    /* margin-top: 15px; */
}
.setupDiv select {
    border: none;
    background-color: #f0f0f0;
    color: #394174;
    padding: 3px 35px 3px 8px;
    font-size: 13px;
    font-weight: 800;
    appearance: none; 
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3e%3cg data-name='Double arrow down'%3e%3crect x='2' y='2' width='20' height='20' rx='1' ry='1' style='fill:transparent'/%3e%3cpath d='M12 17a1 1 0 0 1-.707-.293l-4-4a1 1 0 1 1 1.414-1.414L12 14.586l3.293-3.293a1 1 0 0 1 1.414 1.414l-4 4A1 1 0 0 1 12 17z' style='fill:%231ea1e8'/%3e%3cpath d='M12 13a1 1 0 0 1-.707-.293l-4-4a1 1 0 1 1 1.414-1.414L12 10.586l3.293-3.293a1 1 0 1 1 1.414 1.414l-4 4A1 1 0 0 1 12 13z' style='fill:%2342bdff'/%3e%3c/g%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 0px top 50%, 0 0;
    cursor: pointer;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .13), 0 1px 1px 0 rgba(0, 0, 0, .11);
}
.setupDiv select:focus {
    outline: none;
}

/* PNG Conversion Button */
.convertBtn {
    cursor: pointer;
    display: flex;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
    background: #5c1e1e;
    padding: 3px 10px;
}
.convertBtn, .convertBtn span {
    transition: 700ms cubic-bezier(0.27, -0.66, 0.73, 1.61);
}
.convertBtn .text {
    color: white;
    font-weight: bold;
    font-size: 13px;
    text-wrap: nowrap;
}
.convertBtn:hover {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}


/* Double Side Div */
.doubleSideDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    /* padding: 15px 10px 10px 10px; */
    padding: 15px 10px 0px 10px;
    transition: 0.5s ease;
}
.doubleSideDiv .checkbox {
    display: flex;
    align-items: center;
    gap: 8px;
}
.doubleSideDiv .checkbox span {
    font-size: 12px; 
    text-wrap: nowrap;
    font-weight: 500;
    color: #394174;
}
.doubleSideDiv .toggle {
    position: relative;
    width: 35px;
    height: 16px;
}
.doubleSideDiv .toggle input {
    opacity: 0;
    width: 0;
    height: 0;
}
.doubleSideDiv .toggle .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ff0000a1;
    -webkit-transition: .4s;
    transition: .4s ease;
    box-shadow: inset 0 0 0.0625em 0.125em rgba(255, 255, 255, 0.2), inset 0 0.0625em 0.125em rgba(0, 0, 0, 0.4);
    border-radius: 100rem;
}
.doubleSideDiv .toggle .slider::before {
    position: absolute;
    content: "";
    width: 11px;
    height: 11px;
    background-color: white;
    top: 2px;
    left: 3px;
    -webkit-transition: .4s;
    transition: .4s;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border-radius: 50%;
}
.doubleSideDiv input:checked + .slider {
    background-color: #00d512ba;
    box-shadow: inset 0 0 10px 4px rgba(255, 255, 255, 0.2), inset 0 0.0625em 3px 0px rgba(0, 0, 0, 0.4)
}
.doubleSideDiv input:checked + .slider:before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
    box-shadow:rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
} 

/* Select Tool Width */
.doubleSideDiv .selectToolWidth {
    display: flex;
    align-items:flex-end;
    justify-content: space-between;
    gap: .5rem;
    transition: 0.5s ease;
}
.doubleSideDiv .selectToolWidth span {
    font-size: 12px; 
    text-wrap: nowrap;
    font-weight: 500;
    color: #394174;
}
.doubleSideDiv .selectToolWidth select {
    position: relative;
    /* width: 100%; */
    border: none;
    background-color: white;
    color: #394174;
    padding: 2px 20px 2px 7px;
    font-size: 12px;
    font-weight: 600;
    border-radius: 4px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("../assets/down-arrow.svg");
    background-repeat: no-repeat;
    background-position: right 5px top 50%, 0 0;
    background-size: 1em auto, 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.doubleSideDiv .selectToolWidth select:hover {
    cursor: pointer;
}
.doubleSideDiv .selectToolWidth select:focus {
    outline: none;
}
.doubleSideDiv .selectToolWidth {
    display: flex;
    align-items:flex-end;
    justify-content: space-between;
    gap: .5rem;
    transition: 0.5s ease;
}
.doubleSideDiv .selectToolWidth span {
    font-size: 12px; 
    text-wrap: nowrap;
    font-weight: 500;
    color: #394174;
}
.doubleSideDiv .selectToolWidth.layerHide {
    opacity: 0.6;
    pointer-events: none;
}





/* Toggle Layer Buttons */
.toggleLayers {
    width: 100%;
}
.toggleLayers .toplayer,
.toggleLayers .bottomlayer,
.toggleLayers .commonlayer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.toggleLayers .toplayer .layer,
.toggleLayers .bottomlayer .layer,
.toggleLayers .commonlayer .layer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 3px 10px, rgba(0, 0, 0, 0.22) 0px 0px 0px;
    transition: 0.5s ease;
}
.toggleLayers .toplayer .layer span,
.toggleLayers .bottomlayer .layer span,
.toggleLayers .commonlayer .layer span {
    margin-left: 4px !important;
    margin-right: auto !important;
    margin: -6px;
    padding: 9px;
    font-size: 14px;
    font-weight: 400;
}
.toggleLayers .toplayer .layer button,
.toggleLayers .bottomlayer .layer button,
.toggleLayers .commonlayer .layer button {
    border: 0;
    width: 40px;
    text-align: center;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: background-color 500ms, border-radius 500ms, transform 500ms;
}
.toggleLayers .toplayer .layer button:hover,
.toggleLayers .bottomlayer .layer button:hover,
.toggleLayers .commonlayer .layer button:hover {
    background-color: #cacaca;
    color: #b3b3b3;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    transform: scale(0.9);
}    
/* Add the normal state without hover */
.toggleLayers .toplayer .layer button:not(:hover),
.toggleLayers .bottomlayer .layer button:not(:hover),
.toggleLayers .commonlayer .layer button:not(:hover) {
    transform: scale(1);
}

.toggleLayers .commonlayer .layer.layerHide {
    opacity: 0.6;
    pointer-events: none;
}

/* Canvas BG Selector */
.canvasDiv {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    padding: 10px;
}
.canvasDiv label {
    text-wrap: nowrap;
    color: #434343;
    font-size: 15px;
    font-weight: 500;
}
.canvasDiv select {
    border: none;
    background-color: #f0f0f0;
    color: #394174;
    padding: 5px 35px 5px 8px;
    font-size: 13px;
    font-weight: 800;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    /* width: 100%; */
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3e%3cg data-name='Double arrow down'%3e%3crect x='2' y='2' width='20' height='20' rx='1' ry='1' style='fill:%23ece4b7'/%3e%3cpath d='M12 17a1 1 0 0 1-.707-.293l-4-4a1 1 0 1 1 1.414-1.414L12 14.586l3.293-3.293a1 1 0 0 1 1.414 1.414l-4 4A1 1 0 0 1 12 17z' style='fill:%23ff8e31'/%3e%3cpath d='M12 13a1 1 0 0 1-.707-.293l-4-4a1 1 0 1 1 1.414-1.414L12 10.586l3.293-3.293a1 1 0 1 1 1.414 1.414l-4 4A1 1 0 0 1 12 13z' style='fill:%23ff8e31'/%3e%3c/g%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 0px top 50%, 0 0;
    cursor: pointer;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 0 2px 2px rgba(0,0,0,0.12) ;
}
.canvasDiv select:focus {
    outline: none;
}



  